/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

section header {
    text-align: center;
    padding-bottom: 25px;
}

section header p {
    padding: 0;
    margin-bottom: 28px;
    margin-top: -29px;
    font-size: 33px;
    line-height: 42px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
}

@media (max-width: 768px) {
    section header p {
        font-size: 28px;
        line-height: 32px;
    }
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#home {
    width: 100%;
    height: 100vh;
    background: url("../img/home.jpg") top center;
    background-size: cover;
    position: relative;
    object-position: 0px 0px;
}

#home:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#home .container {
    padding-top: 72px;
}

@media (max-width: 992px) {
    #home .container {
        padding-top: 62px;
    }
}

#home .title {
    color: #c3dcf3;
    /*color: #fff;*/
    margin: 10px 0 0 0;
    font-size: 45px;;
    font-family: "Nunito", sans-serif;
}

#home .description {
    width: 600px;
    font-size: 16px;
    color: #b4d7c6;
    font-family: "Open Sans", sans-serif;
}

#home h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

@media (min-width: 1024px) {
    #home {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #home {
        height: 100vh;
    }

    #home h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #home .title {
        font-size: 20px;
        line-height: 45px;
    }
}

@media screen and (max-width: 900px) {
    #home .description {
        width: 75vw;
    }
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
#services .box {
    text-align: center;
    padding: 30px 20px 30px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 0px 2px -1px black;
    border-radius: 20px;
}

#services .box:hover {
    box-shadow: 0px 6px 2px -1px #484895;
    border-radius: 20px;
    /* animation: iconboxmotion 1s linear infinite; */
    /* transform: translate(0px, 5px); */
    transform: translateY(-10px);
}

#services .box .icon-header {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}

#services .icon-header img {
    border-radius: 50%;
    object-fit: cover;
}

#services #service-box-5 .icon-header img {
    object-position: -30px 2px;
}

#services #service-box-6 .icon-header img {
    object-position: -30px 2px;
}

#services .box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
    font-family: "Nunito", sans-serif;
}

#services .box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    text-align: justify;
}

/*--------------------------------------------------------------
# Technologies Section
--------------------------------------------------------------*/
#technologies header p {
    margin-bottom: 28px;
    margin-top: -29px;
    color: #009961;
}

#technologies .technologies-section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5rem;
    padding-right: 100px;
}

#technologies .box {
    box-shadow: 0px 0px 2px -1px black;
    border-radius: 20px;
    padding: 20px 5px 0px 5px;
    width: 415.99px;
}

@media screen and (max-width: 1400px) {
    #technologies .box {
        width: 356px;
    }
}

@media screen and (max-width: 1200px) {
    #technologies .box {
        width: 296px;
    }
}

#technologies .box:hover {
    box-shadow: 0px 6px 2px -1px #009961;
    border-radius: 20px;
    transform: translateY(-10px);
    transition: all ease-in-out 0.3s;
}

#technologies .box-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#technologies .box-area h3 {
    color: #2c4964;
    font-weight: 600;
    font-size: 22px;
    font-family: Nunito, sans-serif;
}

#technologies .box-area h3 img {
    margin-right: 10px;
    color: green;
    height: 30px;
    width: 30px;
}

#technologies .box-area ul li {
    line-height: 24px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 992px) {
    #technologies .technologies-section-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #technologies .box {
        width: 336px;
    }
}

@media screen and (max-width: 768px) {
    #technologies .technologies-section-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    #technologies .box {
        width: 516px;
    }
}

@media screen and (max-width: 516px) {
    #technologies .box {
        width: 489.6px;
    }
}

@media screen and (max-width: 510px) {
    #technologies .box {
        width: 95vw;
    }
}

@media screen and (max-width: 463.6px) {
    #technologies .box {
        width: 95vw;
    }
}

@media screen and (max-width: 430px) {
    #technologies .box {
        width: 94vw;
    }
}

/*--------------------------------------------------------------
# tech-slider
--------------------------------------------------------------*/
.tech-slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 98vw;
    border-radius: 10px;
    margin-bottom: 35px;
}

.tech-slider .tech-slider-content {
    animation: scroll 30s linear infinite;
    display: flex;
}

.tech-slider .tech-slider-content:hover {
    cursor: pointer;
    animation-play-state: paused;
}

.tech-slider .item {
    height: 100px;
    width: 250px;
}

.tech-slider .item img {
    object-fit: cover;
    padding: 5px;
}

.tech-slider .item.js img {
    width: 100px;
    height: 100px;
}

.tech-slider .item.nodejs img {
    object-position: 0px -75px;
}

.tech-slider .item.android img {
    object-position: 0px -4px;
    height: 139px;
    object-fit: contain;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about .content {
    background-color: #f6f9ff;
    padding: 40px;
}

#about .introduceMyself h2 {
    font-size: 24px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
}

#about .introduceMyself p {
    font-family: serif;
    margin: 15px 0 30px 0;
    line-height: 24px;
}

#about .aboutImage img {
    border-radius: 5px;
    width: -webkit-fill-available;
}

@media screen and (max-width: 992px) {
    #about .about-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #about .aboutImage {
        width: 80vw;
        justify-content: center;
        align-items: center;
    }

    #about .introduceMyself {
        width: 80vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        margin-left: -132px;
    }
}

@media screen and (max-width: 767px) {
    #about .introduceMyself {
        margin-left: -130px;
    }
}

@media screen and (max-width: 648px) {
    #about .introduceMyself {
        margin-left: -127px;
    }
}

@media screen and (max-width: 629px) {
    #about .introduceMyself {
        margin-left: -125px;
    }
}

@media screen and (max-width: 625px) {
    #about .introduceMyself {
        margin-left: -122px;
    }
}

@media screen and (max-width: 618px) {
    #about .introduceMyself {
        margin-left: -120px;
    }
}

@media screen and (max-width: 614px) {
    #about .introduceMyself {
        margin-left: -114px;
    }
}

@media screen and (max-width: 602px) {
    #about .introduceMyself {
        margin-left: -110px;
    }
}

@media screen and (max-width: 592px) {
    #about .introduceMyself {
        margin-left: -107px;
    }
}

@media screen and (max-width: 588px) {
    #about .introduceMyself {
        margin-left: -104px;
    }
}

@media screen and (max-width: 576px) {
    #about .introduceMyself {
        margin-left: -93px;
    }
}

@media screen and (max-width: 560px) {
    #about .introduceMyself {
        margin-left: -90px;
    }
}

@media screen and (max-width: 538px) {
    #about .introduceMyself {
        margin-left: -87px;
    }
}

@media screen and (max-width: 520px) {
    #about .introduceMyself {
        margin-left: -84px;
    }
}

@media screen and (max-width: 500px) {
    #about .introduceMyself {
        margin-left: -84px;
    }
}

@media screen and (max-width: 494px) {
    #about .introduceMyself {
        margin-left: -78px;
    }
}

@media screen and (max-width: 464px) {
    #about .introduceMyself {
        margin-left: -72px;
    }
}

@media screen and (max-width: 424px) {
    #about .introduceMyself {
        margin-left: -68px;
    }
}

@media screen and (max-width: 400px) {
    #about .introduceMyself {
        margin-left: -68px;
    }
}

@media screen and (max-width: 380px) {
    #about .introduceMyself {
        margin-left: -64px;
    }
}

@media screen and (max-width: 360px) {
    #about .introduceMyself {
        margin-left: -60px;
    }
}

@media screen and (max-width: 330px) {
    #about .introduceMyself {
        margin-left: -55px;
    }
}

/*--------------------------------------------------------------
# Counts section
--------------------------------------------------------------*/
#counts {
    padding: 0px 0 60px;
}

#counts .count-box {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

#counts .count-box i {
    font-size: 42px;
    line-height: 0;
    margin-right: 20px;
    color: #4154f1;
}

#counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #0b198f;
}

#counts .count-box p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

#counts .count-box i.green, #counts .count-box span.green {
    color: #15be56;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 12));
    }
}

/*--------------------------------------------------------------
# How to start collaboration
--------------------------------------------------------------*/

#howToCollaborate .howToCollaborate-section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    padding-left: 100px;
    padding-right: 100px;
}

#howToCollaborate header p {
    color: #8d438df5;
}

#howToCollaborate .step-box {
    border-radius: 20px;
    padding: 10px 18px 5px 18px;
}

#howToCollaborate .step-box:hover {
    transform: translateY(-3px);
    transition: all ease-in-out 0.3s;
}

#howToCollaborate .step-box p {
    font-family: serif;
}

#howToCollaborate .step-box img {
    margin-top: -5px;
    margin-left: -2px;
}

#howToCollaborate .step-heading {
    font-size: 24px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
}

.blue {
    color: #0b198f;
}

.orange {
    color: #ee6c20;
}

.green {
    color: #15be56;
}

.red-purple {
    color: #bb0852;
}

.purple {
    color: #8d438df5;
}

.blue-box-shadow {
    box-shadow: 1px 2px 6px 0px #0b198f;
}

/*.blue-box-shadow:hover {*/
/*box-shadow: 0px 6px 2px -1px #0b198f;*/
/*}*/

.orange-box-shadow {
    box-shadow: 1px 2px 6px 0px #ee6c20;
}

/*.orange-box-shadow:hover {*/
/*box-shadow: 0px 6px 2px -1px #ee6c20;*/
/*}*/

.green-box-shadow {
    box-shadow: 1px 2px 6px 0px #15be56;
}

/*.green-box-shadow:hover {*/
/*box-shadow: 1px 2px 6px 0px #15be56;*/
/*}*/

.red-purple-box-shadow {
    box-shadow: 1px 2px 6px 0px #bb0852;
}

/*.red-purple-box-shadow:hover {*/
/*box-shadow: 0px 6px 2px -1px #bb0852;*/
/*}*/

@media screen and (max-width: 768px) {
    #howToCollaborate .howToCollaborate-section-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding-left: 0px;
        padding-right: 0px;
    }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
    padding-bottom: 30px;
}

#contact header p {
    margin-bottom: 28px;
    margin-top: -29px;
    color: #009961;
}

#contact .green {
    color: #009961;
}

#contact .info-box {
    color: #444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 10px 0;
    white-space: nowrap;
}

#contact .info-box i {
    font-size: 38px;
    line-height: 0;
    color: #009961;
}

#contact .info-box h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 10px 0;
    font-family: "Nunito", sans-serif;
}

#contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

#contact .form-content {
    margin-top: -46px;
}

#contact .form-content .marginTop {
    margin-top: 35px;
}

#contact .php-email-form {
    padding: 30px;
    margin-bottom: 30px;
}

#contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

#contact .php-email-form .error-message br + br {
    margin-top: 25px;
}

#contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

#contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

#contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input,
#contact .php-email-form textarea {
    box-shadow: none;
    font-size: 14px;
    border: 1px solid #009961;
    border-radius: 25px;
}

#contact .php-email-form input:focus,
#contact .php-email-form textarea:focus {
    border-color: #109931;
}

#contact .php-email-form input {
    padding: 10px 15px;
}

#contact .php-email-form textarea {
    padding: 12px 15px;
}

#contact .php-email-form button[type="submit"] {
    background: #009961;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 23px;
    width: 100%;
}

#contact .php-email-form button[type="submit"]:hover {
    background: #109931;
}

#contact .image-upload > input {
    display: none;
}

#contact .address-map {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    #contact .map-iframe iframe {
        width: 296px;
    }
}

@media screen and (max-width: 993px) {
    #contact .map-iframe iframe {
        width: 696px;
    }
}

@media screen and (max-width: 768px) {
    #contact header p {
        margin-bottom: 0;
    }

    #contact .map-iframe iframe {
        width: 516px;
    }
}

@media screen and (max-width: 575px) {
    #contact .map-iframe iframe {
        width: 95vw;
    }
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#contact .text-center a:hover {
    background-color: #18d26e;
}

@media screen and (max-width: 1200px) {
    #contact .contact-section-container {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 1200px) {
    #contact .contact-col {
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: repeat(4, 1fr); */
        width: 100vw;
    }

    #contact .info-box {
        margin-top: -11px;
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #322d64;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    min-height: 30vh;
}

#footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
}

#footer p {
    font-size: 15px;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

#footer .social-links {
    margin: 0 0 40px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #009961;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #00b371;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    margin: 0 0 5px 0;
}

#footer .credits {
    font-size: 13px;
}

#footer .credits a {
    color: #00b371;
    transition: 0.3s;
}

#footer .credits a:hover {
    color: #009961;
}

/*--------------------------------------------------------------
# Collaborations and Certifications
--------------------------------------------------------------*/
.sliderPage {
    display: grid;
    grid-gap: 0.2rem;
    padding-left: 100px;
    padding-right: 100px;
}

.sliderPage.rowsAndCols {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.sliderItem {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px -1px black;
    border-radius: 20px;
}

.sliderItem img {
    object-fit: contain;
}

@media screen and (max-width: 1380px) {
    .sliderPage.rowsAndCols {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

@media screen and (max-width: 520px) {
    .sliderPage.rowsAndCols {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .sliderItem img {
        width: 150px;
    }
}

@media screen and (max-width: 380px) {
    .sliderItem img {
        width: 120px;
    }
}

@media screen and (max-width: 345px) {
    .sliderItem img {
        width: 100px;
    }
}

/*--------------------------------------------------------------
# Collaborations
--------------------------------------------------------------*/

.collaborations {
    margin-top: -55px;
}

.collaborations-big-screen {
    display: block;
}

.collaborations-medium-screen {
    display: none;
}

.collaborations-small-screen {
    display: none;
}

@media screen and (max-width: 1380px) {
    .collaborations-big-screen {
        display: none;
    }

    .collaborations-medium-screen {
        display: block;
    }

    .collaborations-big-screen {
        display: none;
    }

    .sliderPage.rowsAndCols {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .collaborations-big-screen {
        display: none;
    }

    .collaborations-medium-screen {
        display: none;
    }

    .collaborations-small-screen {
        display: block;
    }

    .sliderPage.rowsAndCols {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

/*--------------------------------------------------------------
# Certifications
--------------------------------------------------------------*/

.certifications {
    margin-top: -55px;
}


.certifications-big-screen {
    display: block;
}

.certifications-medium-screen {
    display: none;
}

.certifications-small-screen {
    display: none;
}

@media screen and (max-width: 1380px) {
    .certifications-big-screen {
        display: none;
    }

    .certifications-medium-screen {
        display: block;
    }

    .certifications-big-screen {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .certifications-big-screen {
        display: none;
    }

    .certifications-medium-screen {
        display: none;
    }

    .certifications-small-screen {
        display: block;
    }
}

/*--------------------------------------------------------------
# Swiper
--------------------------------------------------------------*/
.custom-swiper-button-next,
.custom-swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

@media (max-width: 768px) {
    .custom-swiper-button-next,
    .custom-swiper-button-prev {
        display: none;
    }
}

.custom-swiper-button-next span,
.custom-swiper-button-prev span {
    font-size: 20px;
    color: rgba(var(--color-white-rgb), 0.7);
    transition: 0.3s all ease;
}

.custom-swiper-button-next:hover span, .custom-swiper-button-next:focus span,
.custom-swiper-button-prev:hover span,
.custom-swiper-button-prev:focus span {
    color: rgba(var(--color-white-rgb), 1);
}

.custom-swiper-button-next {
    right: 40px;
}

.custom-swiper-button-prev {
    left: 40px;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: rgb(122, 122, 215);
    opacity: 0.8;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: blue;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -5px;
    left: 0;
    position: relative;
    width: 100%;
}

/*--------------------------------------------------------------
# Overwrite
--------------------------------------------------------------*/
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}

.carousel-inner img {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-chevron-left::before {
    border: 2px solid #7c72a1;
    border-radius: 50%;
    color: black;
}

.bi-chevron-right::before {
    border: 2px solid #7c72a1;
    border-radius: 50%;
    color: black;
}

.bi-chevron-right, .custom-swiper-button-prev {
    display: none;
}

/*--------------------------------------------------------------
# Utils
--------------------------------------------------------------*/
.blue-title {
    color: #012970;
}

.section-title {
    text-align: center;
    padding-bottom: 25px;
    font-size: 33px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

.rotate20 {
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    transform: rotate(-42deg);
}

.margin-top-0 {
    margin-top: 0px;
}

.padd50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

